<!DOCTYPE html>
<html>
    <head>
        <title>Our Suggestions for Your Allergies!!</title>
    </head>
    
    <body>
        <h2 text-align="center">The over-the-counter tablets best suited for you are the <br>
            <a href="<%=@otc_link%>" text-align="center"><%=@otc_product%></a>
            <a href="<%=@otc2_link%>" text-align="center"><%=@otc2_product%></a>
        </h2>
            <img src="<%=@otc_img%>"/>
            <img src="<%=@otc2_img%>"/>
        <h2 text-align="center">The Home Remedies best suited for you are <br>
            <a href="<%=@remedy_link%>" text-align="center"><%=@remedy_product%></a>
            <a href="<%=@remedy2_link%>" text-align="center"><%=@remedy2_product%></a>
        </h2>
            <img src="<%=@remedy_img%>"/>
            <img src="<%=@remedy2_img%>"/>
    </body>
</html>