<!DOCTYPE html>
<html>
    <head>
        <title>Your Supplies!!</title>
        <link rel="stylesheet" href="/css/test.css">
    </head>
    
    <body id="results">
        <h1>The supplies picked for you are....</h1>
        <h2 text-align="center">The pen best suited for you is the <br><a href="<%=@lettering_choice%>" text-align="center"><%=@lettering_name%></a></h2>
        <h2 text-align="center">The journal best suited for you is the <br><a href="<%=@journal_choice%>" text-align="center"><%=@journal_name%></a></h2>
        <h2 text-align="center">The spread best suited for you is</h2> <img src="<%=@productivity_choice%>"/>
    </body>
</html> 